USE [master]
GO
/****** Object:  Database [lksKabupaten]    Script Date: 2/20/2025 11:55:55 AM ******/
CREATE DATABASE [lksKabupaten]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lksKabupaten', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\lksKabupaten.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lksKabupaten_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\lksKabupaten_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lksKabupaten].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lksKabupaten]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 2/20/2025 11:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[kd_kategori] [varchar](15) NOT NULL,
	[kategori] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[kd_kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pembelian]    Script Date: 2/20/2025 11:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pembelian](
	[no_pembelian] [int] IDENTITY(1,1) NOT NULL,
	[kd_produk] [varchar](15) NULL,
	[qty] [float] NULL,
	[tanggal] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[no_pembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penjualan]    Script Date: 2/20/2025 11:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penjualan](
	[no_penjualan] [varchar](125) NOT NULL,
	[tanggal_jual] [date] NULL,
	[kd_pelanggan] [int] NULL,
	[total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[no_penjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenjualanDetail]    Script Date: 2/20/2025 11:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenjualanDetail](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[no_penjualan] [varchar](125) NULL,
	[kd_produk] [varchar](15) NULL,
	[qty] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produk]    Script Date: 2/20/2025 11:55:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produk](
	[kd_produk] [varchar](15) NOT NULL,
	[nama_produk] [varchar](125) NULL,
	[kd_kategori] [varchar](15) NULL,
	[satuan] [varchar](15) NULL,
	[harga_modal] [float] NULL,
	[harga_jual] [float] NULL,
	[stok] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[kd_produk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pembelian]  WITH CHECK ADD FOREIGN KEY([kd_produk])
REFERENCES [dbo].[Produk] ([kd_produk])
GO
ALTER TABLE [dbo].[PenjualanDetail]  WITH CHECK ADD FOREIGN KEY([kd_produk])
REFERENCES [dbo].[Produk] ([kd_produk])
GO
ALTER TABLE [dbo].[PenjualanDetail]  WITH CHECK ADD FOREIGN KEY([no_penjualan])
REFERENCES [dbo].[Penjualan] ([no_penjualan])
GO
ALTER TABLE [dbo].[Produk]  WITH CHECK ADD FOREIGN KEY([kd_kategori])
REFERENCES [dbo].[Kategori] ([kd_kategori])
GO
USE [master]
GO
